/* GENERAL STYLE */

@font-face {
  font-family: Augusta-Regular;
  src: url("./fonts/Augusta.ttf");
}

body {
  display: flex;
  justify-content: center;
}

#root {
  font-family: Augusta-Regular, sans-serif;
  background-color: rgb(31, 32, 46);
  color: rgb(220, 219, 205);

  width: 800px;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

#root-content {
  padding: 16px;
  flex: 1 0;
}

button {
  font-family: Augusta-Regular, sans-serif;
  font-size: 16pt;
  background-color: rgb(232, 226, 196);
  border: 2px solid rgb(35, 35, 64);
}

.spacer {
  flex: 1 0;
  height: 0px;
}

/* NAV BAR */

#nav-bar {
  flex: 0 0 40px;

  border-left: 3px solid gray;
  border-top: 3px solid gray;
  border-right: 3px solid gray;

  /* Have nav bar buttons fill the available space evenly */
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 8px;

  padding: 8px;
}

.nav-bar-button {
  flex: 1 0;
}

/* WORLD MAP */

#world-map-container {
  /* Fill the parent container */
  width: 100%;
  height: 100%;

  background-color: rgb(49, 51, 68);

  /* Use flexbox to have map and controls side-by-side */
  display: flex;
}

#world-map {
  border-left: 3px solid gray;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;

  /* Logic to have rows evenly fill the available vertical space */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 0;
}

.world-map-row {
  /* Cells evenly fill row */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  /* Rows evenly fill vertical space */
  flex: 1 0;
}

.world-map-cell {
  font-family: sans-serif;
  font-size: 8pt;

  /* Cells evenly fill available horizontal space */
  flex: 1 0;
}

/* ========== WORLD MAP CONTROLS =============== */

#world-map-controls {
  font-family: Augusta-Regular, sans-serif;

  width: 200px;

  border: 3px solid gray;
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4px;
}

#world-map-controls .input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

#world-map-controls label {
  font-size: 16pt;

  /* Take up 50% of width of parent */
  flex: 1 0;
}

#world-map-controls input {
  /* Take up 50% of width of parent */
  width: 0px;
  flex: 1 0;

  background-color: rgb(232, 226, 196);
  font-family: Augusta-Regular, sans-serif;
  font-size: 14pt;
  text-align: center;

  height: 24px;
}

/* WORLD MAP CELLS */

.world-map-cell.plains {
  background-color: green;
}

.world-map-cell.mountain {
  background-color: gray;
}

.world-map-cell.water {
  background-color: blue;
}

.world-map-cell.settlement {
  background-color: black;
}

/* Encounter */

#encounter {
  max-width: 100%;
  max-height: 100%;

  flex: 1 0;
}